body,
.menu-header,
.menu-header-list {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
  font-family: "Montserrat";
  padding-bottom: 29px;
}

.conteiner-content {
  width: 1145px;
  margin: 0 auto;
  text-align: center;
}

.menu-header {
  margin: 0 auto;
  text-align: center;
  padding: 26px 0;
}

.menu-header-item:not(:nth-child(1)) {
  margin-left: 72px;
}

.menu-header-item {
  display: inline-block;
}

.menu-header-item > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
}

.img-header {
  width: 100%;
}

/* Main section */
.content-header {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  margin: 48px auto 38px;
}

.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 28px 0 0;
}

.start-btn {
  display: inline-block;
  margin: 66px auto 82px;
  padding: 18px 43px;
  background: #ff0000;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
}

/* Footer section */
.footer {
  text-align: right;
}
.footer-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  padding: 10px 38px;
  margin: 0;
}
